<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1034386858837-vn6nh97k1qgk2ufbnp464u0p6mioud3r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1034386858837-vn6nh97k1qgk2ufbnp464u0p6mioud3r</string>
	<key>API_KEY</key>
	<string>AIzaSyBpk2G4pCg0isEtmfAOcg0udL5yG0CUBsQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1034386858837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rakshak</string>
	<key>PROJECT_ID</key>
	<string>rakshak-1</string>
	<key>STORAGE_BUCKET</key>
	<string>rakshak-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034386858837:ios:892b0de7e5e81d0c89c5dc</string>
</dict>
</plist>